# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 58
b = 58
print(id(a))
print(id(b))

10752680
10752680

Змінні, які належать проміжку від -5 до 256 посилаються на однакові об'єкти в пам'яті, бо вони є зарезевованими

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
isinstance(True, bool)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
x = 10
y = 3.5
print(x + y)
print(x - y)
print(x / y)
print(x * y)
print(x // y)
print(x % y)
print(x ** y)

13.5
6.5
2.857142857142857
35.0
2.0
3.0
3162.2776601683795

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
newY = int(y)
print(newY)
var = True
varInt = int(var)
print(varInt)

3
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_str1 = ""
empty_str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [2]:
regular_str = "I'm Polina"
raw_str = r"I'm Polina"
print(regular_str)
print(raw_str)

I'm Polina
I'm Polina

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Vladymyrska"
string = f"My surname is {surname}"
print(string)

My surname is Vladymyrska

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [2]:
test_str = "My dog is crazy"
splitted_str = test_str.split()
splitted_str

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = list((-1, -2, -3, -4, -5))
len(list2)

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]
my_list1.append(my_list2)
print(my_list1)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [3]:
test_list = [[1, 2, 3], [4, 5, 6]]
print(test_list[-1][0])

4

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [4]:
random_list = ["Hello", True, 3.14, 28, [1, 2], (3, 4), 300, None, "false", -1]
new_list = random_list[2:-2]
new_list

[3.14, 28, [1, 2], (3, 4), 300, None]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [5]:
my_tulpe = (18,)
my_tulpe

(18,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

І те, і те є впорядкованими колекціями, проіндексовані та можуть зберігати різні типи даних
Списки можна редагувати, а кортежі незмінні; кортежі займають менше пам'яті та швидші, на відміну від списків
Списки використовуємо, коли треба працюємо з динамічними структурами, коли дані треба змінювати. Кортежі використовуємо при статичних даних та коли потрібна більша швидкість та менше використання пам'яті

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [6]:
float_tulpe = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
result_tulpe = float_tulpe[-1::-2]
result_tulpe

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [7]:
empty_set = set()
empty_set.add(43)
empty_set.add("Hello World")
empty_set.add(3.14)
empty_set

{3.14, 43, 'Hello World'}

Так, ми можемо додавати та видаляти елементи з множин. Проте самі елементи мають бути незмінними

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [8]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
my_set

{1, 2, 8, 9, 67}

При створенні множини зі списку зникли дублікати чисел, оскільки множини зберігають лише унікальні елементи.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [9]:
set_a = {1, 2, 3, 4}
set_b = {4, 5, 6, 7}

union_set = set_a.union(set_b)
print(union_set)

difference_set = set_a.difference(set_b)
print(difference_set)

intersection_set = set_a.intersection(set_b)
print(intersection_set)

symetric_difference_set = set_a.symmetric_difference(set_b)
print(symetric_difference_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{4}
{1, 2, 3, 5, 6, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [10]:
my_dict = {}
my_dict[1] = "Integer"
my_dict["string"] = "Hello World"
my_dict[(1, 2, 3)] = "Tulpe"
my_dict[3.14] = "Float"
print(my_dict)

{1: 'Integer', 'string': 'Hello World', (1, 2, 3): 'Tulpe', 3.14: 'Float'}

Список не може бути ключем в словнику, оскільки це змінний тип данних, а ключі мають бути незмінними

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [4]:
leveled_dict = {
    "key1": {
        "key2" : {
            "key3" : "Final Level"
        }
    }

}
print(leveled_dict["key1"]["key2"]["key3"])

Final Level

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.